<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.portal.dao.ResourceReportMapper" >
  <resultMap id="BaseResultMap" type="com.share.portal.pojo.ResourceReport" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reporte_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="be_reported_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="created" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updated" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.share.portal.pojo.ResourceReport" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reporte_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="be_reported_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="created" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updated" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="resource_comment_id" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, TYPE, description, reporte_user, be_reported_user, created, updated
  </sql>
  <sql id="Blob_Column_List" >
    resource_comment_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_resource_report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_resource_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.share.portal.pojo.ResourceReport" >
    insert into share_resource_report (id, TYPE, description, 
      reporte_user, be_reported_user, created, 
      updated, resource_comment_id)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{reporteUser,jdbcType=VARCHAR}, #{beReportedUser,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP}, #{resourceCommentId,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.share.portal.pojo.ResourceReport" >
    insert into share_resource_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="reporteUser != null" >
        reporte_user,
      </if>
      <if test="beReportedUser != null" >
        be_reported_user,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="resourceCommentId != null" >
        resource_comment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="reporteUser != null" >
        #{reporteUser,jdbcType=VARCHAR},
      </if>
      <if test="beReportedUser != null" >
        #{beReportedUser,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceCommentId != null" >
        #{resourceCommentId,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.portal.pojo.ResourceReport" >
    update share_resource_report
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="reporteUser != null" >
        reporte_user = #{reporteUser,jdbcType=VARCHAR},
      </if>
      <if test="beReportedUser != null" >
        be_reported_user = #{beReportedUser,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceCommentId != null" >
        resource_comment_id = #{resourceCommentId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.share.portal.pojo.ResourceReport" >
    update share_resource_report
    set TYPE = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      reporte_user = #{reporteUser,jdbcType=VARCHAR},
      be_reported_user = #{beReportedUser,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      resource_comment_id = #{resourceCommentId,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.portal.pojo.ResourceReport" >
    update share_resource_report
    set TYPE = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      reporte_user = #{reporteUser,jdbcType=VARCHAR},
      be_reported_user = #{beReportedUser,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>