<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.portal.dao.TopicsFavoriteMapper" >
  <resultMap id="BaseResultMap" type="com.share.portal.pojo.TopicsFavorite" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="topics_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="personal_topics_category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updated" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, topics_id, personal_topics_category_id, created, updated
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from share_topics_favorite
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_topics_favorite
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.share.portal.pojo.TopicsFavorite" >
    insert into share_topics_favorite (id, user_id, topics_id, 
      personal_topics_category_id, created, updated
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{topicsId,jdbcType=INTEGER}, 
      #{personalTopicsCategoryId,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.share.portal.pojo.TopicsFavorite" >
    insert into share_topics_favorite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="topicsId != null" >
        topics_id,
      </if>
      <if test="personalTopicsCategoryId != null" >
        personal_topics_category_id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="topicsId != null" >
        #{topicsId,jdbcType=INTEGER},
      </if>
      <if test="personalTopicsCategoryId != null" >
        #{personalTopicsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.portal.pojo.TopicsFavorite" >
    update share_topics_favorite
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="topicsId != null" >
        topics_id = #{topicsId,jdbcType=INTEGER},
      </if>
      <if test="personalTopicsCategoryId != null" >
        personal_topics_category_id = #{personalTopicsCategoryId,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.portal.pojo.TopicsFavorite" >
    update share_topics_favorite
    set user_id = #{userId,jdbcType=VARCHAR},
      topics_id = #{topicsId,jdbcType=INTEGER},
      personal_topics_category_id = #{personalTopicsCategoryId,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>