/*
----------------------------------
Author: zhqGit
Updated: 8月9日



----------------------------------
 */

/*
----------------------------------
@Styles Common

@font-size:1em
----------------------------------
*/
body{
    font-size: 10px;
}
/*-------------Header---------------*/

header {
    width: 100%;
    position: relative;
    background-color: #ffffff;
}

.sign-search{
    position: absolute;
    top: 35px;
    right: 200px;
}

.sign-search a{
    color: #000;
}

.logo {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

/*@media screen and (max-width: 979px){*/
    /*.logo h1 {*/
        /*color: #1e50ae;*/
        /*font-size: 1.5em;*/
        /*margin: 0;*/
    /*}*/

    /*.logo h1 span {*/
        /*color: #cccccc;*/
        /*font-size: 1em;*/
    /*}*/
/*}*/




.logo h1 {
    color: #1e50ae;
    font-size: 4.5em;
    margin: 0;
}

.logo h1 span {
    color: #cccccc;
    font-size: 0.7em;
}

.nav-container {
    list-style: none;
    width: 100%;
    background-color: #1e50ae;
    padding-left: 10%;
}

.nav-container li {
    float: left;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.nav-container li a{
    display: block;
    line-height: 4em;
    padding: 0 2em;
    color: #FFFFFF;
    font-size: 1.2em;
}

.nav-container li:hover {
    background-color: #ffffff;
    /*color: #1e50ae;*/
}


.nav-container li:hover > a{
    color: #1e50ae;
}

/*
--------------------------------------
@Styles Main
--------------------------------------
*/
main{
    width: 80%;
    margin: 0 auto;
}






/*----------------Footer------------------*/

footer {
    height: 150px;
    background-color: #0e3cb1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*.clearfix {
    *+height: 1%;
}*/

footer ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

footer li{
    list-style: none;
    display: inline-block;
    color: #fff;
}

.footer-nav{
    padding-top: 20px;
}

.friends{
    padding-top:60px;
}
















/*
--------------------------------------------
@Styles common
--------------------------------------------
*/
.p_border{
    box-shadow: 0 12px 24px 0 rgba(7,17,27,.2);
    border-radius: 8px;
}

.z_pg_mg{
    padding: 0;
    margin: 0;
}

