.form-container{
    width: 90%;
    padding: 5%;
    background-color: #f9f9f9;
    margin: 0 auto;
}


.share_form li{
    height: 50px;
    list-style: none;
}

.share_form li label{
    display: inline-block;
}

.share_form li input{
    display: inline-block;
    width: 30%;
    background: #f7f8f9;
}



